footer {
  margin-top: 3rem;
}

.btn-primary {
  color: #fff!important;
}

.stats {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    opacity: 0.7;
}

.my-jumbotron {
  color: #FFFFFF;
  font-weight: bold;
  background-image: url(../images/jumbo-back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

a {
  text-decoration: none;
}

.sub a{
  text-decoration: underline;
  color: #FFFFFF!important;
}

* {
  font-family: 'Roboto Slab', serif;
}

.sub-text {
  color: grey!important;
}

.nav-link {
  color: #81a7c1!important;
}

.menu_top_main {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.active {
  color: #FFFFFF!important;
}

.menu_top_second {
  font-size: 12px;
  color: #aaaaaa;
  display: block;
  padding-left: .5rem;
  padding-right: .5rem
}

.image {
  margin: 10px 10px 10px 10px;
}

.icons-sub-logo{
  margin-top: 20px;
  text-align: center;
}

.icon{
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

.footer_table{
  border: 0px;
  border-spacing: 0;
  padding: 2px;
  width: 100%;
  color: #ffffff;
}

.footer_secondary {
  font-size: 11px;
}

.rating-block {
  min-width: 230px !important;
}

.video-block {
  min-width: 340px !important;
}

.contain {
  position: relative;
  min-height: 250px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rate-item{
  margin: auto;
  width: 50%;
  margin-top: 10px;
}

.vjs-subs-caps-button {
  display: none;
}

.vjs-picture-in-picture-control {
  display: none !important;
}

.vjs-volume-panel {
  display: none !important;
}

/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  display: block;
  max-width: none;
  max-height: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* --------------- */

/* xZoom Styles below */
.xzoom-container {
  display: inline-block;
}

.xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px;
}

.xzoom {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

/* Thumbs */
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  border: 1px solid #cecece;
  margin-left: 5px;
  margin-bottom: 10px;
}

.xzoom-source, .xzoom-hidden {
  display: block;
  position: static;
  float: none;
  clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
  overflow: hidden;
}

/* Preview */
.xzoom-preview {
  border: 1px solid #888;
  background: #2f4f4f;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
}

/* Lens */
.xzoom-lens {
  border: 1px solid #555;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
  cursor: crosshair;
}

/* Loading */
.xzoom-loading {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: .7;
  background: url(../images/xloading.gif);
  width: 48px;
  height: 48px;
}

/* Additional class that applied to thumb when it is active */
.xactive {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(74,169,210,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(74,169,210,1);
  box-shadow: 0px 0px 3px 0px rgba(74,169,210,1);
  border: 1px solid #4aaad2;
}

/* Caption */
.xzoom-caption {
  position: absolute;
  bottom: -43px;
  left: 0;
  background: #000;
  width: 100%;
  text-align: left;
}

.xzoom-caption span {
  color: #fff;
  font-family: Arial, sans-serif;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  padding: 10px;
}

.rate {
  font-size: 35px;
}

.rate-base-layer
{
    color: #aaa;
}
.rate-hover-layer
{
    color: #ffc107;
}

.rate .rate-select-layer
{
    color: #004085;
}
